.input-container {
  max-width: 300px;
  margin: 8px 26px;
}

.input-container > div {
  position: relative;
  margin-bottom: 4px;
}

.input-container input {
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  padding: 14px 16px;
  font-size: 24px;
  background-color: transparent;
}

.input-container[aria-invalid='true'] input {
  border: 1px solid var(--error-color);
}

.input-container input:disabled {
  background: #e7e7e7;
}

.input-container span {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.input-container p {
  color: var(--error-color);
  font-size: 12px;
  transition: all 0.4s;
  transform: translateX(0);
  opacity: 1;
}

.input-container p[aria-hidden='true'] {
  transform: translateY(-20px);
  opacity: 0;
}
