@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap');

:root {
  --primary-color: #2a3676;
  --error-color: #ec4646;
  --bold-error-color: #f11f1f;
  --success-color: #46ec74;
  --bold-success-color: #247d32;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  cursor: default;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 80px;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 8px;
  border: 1px solid #fff;
  font-size: 24px;
  font-weight: 600;
  margin-top: 14px;
  cursor: pointer;
  transition: background-color 1s, opacity 0.3s;
}

button:hover {
  opacity: 0.9;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

@media (max-width: 500px) {
  button {
    padding: 14px 20px;
  }
}
