.main {
  background: var(--primary-color);
  transition: all 0.5s;
}

.__NOT_FINED__ {
  --primary-color: var(--success-color);
}

.__FINED__ {
  --primary-color: var(--error-color);
}

.__NOT_FINED__ button {
  background: var(--bold-success-color);
}

.__FINED__ button {
  background: var(--bold-error-color);
}

.main > div {
  background: url('../../../public/images/background.svg') no-repeat;
  min-height: 100vh;
  background-position: 15% 50%;
  padding: 8px 26px;
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.help-icon {
  overflow: hidden;
  position: absolute;
  right: 20%;
  top: 40vh;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 10;
}

.help-icon div {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-end;
  pointer-events: none;
}

.help-icon img {
  cursor: pointer;
  pointer-events: all;
}

.help-icon span {
  color: #fff;
  max-width: 230px;
  background: #1a2352;
  padding: 8px 12px;
  border-radius: 12px;
  margin-bottom: 8px;
  transform: translateX(5000px);
  opacity: 0;
  transition: all 0.4s;
  pointer-events: none;
}

.help-icon img:hover + span {
  transform: translateX(0);
  opacity: 1;
}

.main h1 {
  text-transform: uppercase;
  color: var(--primary-color);
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 12px;
}

.main form {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.main header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main header img {
  transition: all 0.5s;
}

.main header:hover img {
  transform: translateY(-5px);
}

.main form > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-container {
  max-width: 400px;
  max-height: 300px;
}

@media (max-width: 750px) {
  .main form > div {
    flex-direction: column;
  }

  .help-icon {
    right: 10%;
    top: 18px;
    transform: translateY(0);
  }

  .help-icon div {
    flex-direction: column;
  }
}

@media (max-width: 540px) {
  .main > div {
    background-position: 25% 0%;
  }
}

@media (max-width: 400px) {
  .main form {
    justify-content: center;
  }

  .main h1 {
    font-size: 35px;
  }
}
